<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>New Event</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
  <link th:href="@{/style/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="transition-background">
<div class="container">
  <header th:replace="~{partials/header}"></header>
</div>
<h1>Naujas renginys</h1>
<form class="input-form" th:action="@{/news/sportType/{id}/newEvent(id=${sportType.id})}" th:object="${event}" method="POST">
  <div>
    <label>Renginio tipas:</label>
    <select name="name" th:field="*{name}">
      <option value="Varžybos">Varžybos</option>
      <option value="Draugiškos varžybos">Draugiškos varžybos</option>
      <option value="Varžybos skirtos labdarai">Varžybos skirtos labdarai</option>
    </select>
  </div>
  <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-color">Error</div>
  <p>Komandos: <input type="text" th:field="*{team1}" class="create-input"/> prieš <input type="text" th:field="*{team2}" class="create-input"/></p>
  <p>Place: <input type="text" th:field="*{place}" class="create-input"/></p>

  <p>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
  </p>

  <a th:href="@{/news}">
    <div>BACK</div>
  </a>
</form>
<div class="container my-5">
  <footer th:replace="~{partials/footer}"></footer>
</div>
</body>
</html>