<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>🏡</title>
    </head>
    <body style="max-width: 450px; margin: 0 auto;">
        <h1>Home page 🏡</h1>
        <div sec:authentication="principal.authorities"></div>
        <br>
        <a th:href="@{/user/{id}(id=${user.id})}">View Profile</a>
<br>
        <p>Article</p>
        <a th:href="@{/article/{id}}">Article</a>



        <div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
            <a style="text-decoration: none" th:href="@{/admin/dashboard}">Edit ✏️</a>
        </div>
        <div>
            <a style="text-decoration: none" href="javascript: document.logoutForm.submit()">Logout 🔓</a>
            <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
                <input hidden type="submit" value="Logout"/>

            </form>
        </div>
    </body>
</html>